.background-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  min-height: 100vh;
  overflow-y: auto;
}

.body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover; /* puede ser contain si quieres mostrarlo completo */
  background-position: center;
  z-index: 0;
  opacity: 0.5; /* o ajusta según tu preferencia */
}

.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* capa oscura */
  z-index: 1;
}

.App {
  position: relative;
  z-index: 2;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* en vez de height fijo */
  color: white;
}

.main-content {
  flex: 1;
  width: 100%;
  padding: 20px;
}

/* Botón */
.toggle-button {
  padding: 0.8rem 1.5rem;
  margin: 2rem 0;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: linear-gradient(135deg, #007bff, #00c6ff);
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s;
}

.toggle-button:hover {
  background: linear-gradient(135deg, #0056b3, #008bba);
  transform: scale(1.05);
}
