form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  margin: 20px auto;
}

input[type="text"],
textarea,
input[type="file"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
